<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/libs/flexible.js"></script>
    <title>这个是头部导航栏----</title>
</head>
<style>
    .header-box{
        width: 100%;
        height: 2rem;
    }
    .head-logo{
        width: 2rem;
        height: auto;
        text-align: center;
        margin: .2rem auto;
    }
    .nav-wrapper{
        height: 4rem;
    }
    .nav-list{
        display: flex;
        justify-content: space-between;
    }
    li{
        text-decoration: none;
    }
</style>
<body>
    <header class="header-box">
        <nav class="head-nav">
            <section class="head-logo">
               <img src="/img/github.png" alt="logo">
            </section>
            <section class="nav-wrapper">
                <ul class="nav-list">
                    <li><a href="./../pages/index/index.html">mess</a></li>
                    <li><a href="./../pages/work-experience/work-experience.html">work</a></li>
                    <li><a href="./../pages/project-experience/project-experience.html">project</a></li>
                    <li><a href="./../pages/skill-introduce/skill-introduce.html">skill</a></li>
                </ul>
            </section>
        </nav>
    </header>
<script type="text/javascript" charset="utf-8" src="http://172.28.195.99:8132/livereload.js"></script></body>
</html>